* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #1b213f;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    box-shadow: 0 5px rgb(173, 188, 255);
    z-index: 100;
    position: sticky;
    height: 50px;
}

header h1 {
    color: #cbe3ff;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px 25px;
    height: calc(100vh - 120px);

    overflow: hidden;
    background: #efefef;
}


.main > img {
    border-radius: 25px;
}

.main .list {
   display: flex;
   flex-direction: column;
   align-self: start;
   justify-self: start;
   grid-row: span 2;
}

.main .list > h1 {
    font-size: 5em;
}

.main .list .recipes-container h1 {
    font-size: 1.5rem;
}

.recipes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipes-container .recipe-image, .recipes-container a {
    border-radius: 25px;
    box-sizing: 5px 5px 3px black;


}

.recipes-container img {
    height: 220px;
    width: 300px;
    object-fit: cover;
    border-radius: 25px;
}

.recipe-image {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.main .about {
    font-size: 1.5rem;
}

.image-bar img {
    height: 600px;
    object-fit: cover;
    border-radius: 25px;

}

.image-bar {
    height: 600px;
}

.image-text, .info {
    background: rgb(207, 207, 207);
    padding: 55px;
    border-radius: 25px;
    margin: 10px 0;
}

.info {
    grid-row: span 2;
}

.recipes-section {
    padding: 10px 50px;
    gap: 10px;
}